<div class="modal-header" data-bs-theme="ligth">
      <h1 class="modal-title fs-5">Ajouter partenaire</h1>
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="reactiveForm_add_partenaire"
            (ngSubmit)="onSubmit_add_partenaire()"
            #form_add_partenaire="ngForm"
            class="row">

            <!-- Champ Nom Partenaire -->
            <div class="form-group col-sm-12">
              <label>Nom Partenaire <span class="text-danger">*</span></label>
              <input class="form-control"
                     type="text"
                     formControlName="nom_partenaire"
                     placeholder="Nom Partenaire"
                     [ngClass]="{ 'is-invalid': submitted && f.nom_partenaire.errors }"/>
              @if (submitted && f.nom_partenaire.errors) {
                <div class="invalid-feedback">
                  @if (f.nom_partenaire.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Description -->
            <div class="form-group col-sm-12">
              <label>Description</label>
              <textarea class="form-control"
                     type="text"
                     formControlName="description"
                     placeholder="Description"
                     [ngClass]="{ 'is-invalid': submitted && f.description.errors }" rows="3"></textarea>
              @if (submitted && f.description.errors) {
                <div class="invalid-feedback">
                  @if (f.description.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Nom Point Focal -->
            <div class="form-group col-sm-6">
              <label>Nom Point Focal</label>
              <input class="form-control"
                     type="text"
                     formControlName="nom_point_focal"
                     placeholder="Nom Point Focal"
                     [ngClass]="{ 'is-invalid': submitted && f.nom_point_focal.errors }"/>
              @if (submitted && f.nom_point_focal.errors) {
                <div class="invalid-feedback">
                  @if (f.nom_point_focal.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Numero Point Focal -->
            <div class="form-group col-sm-6">
              <label>Numero Point Focal</label>
              <input class="form-control"
                     type="text"
                     formControlName="numero_point_focal"
                     placeholder="Numero Point Focal"
                     [ngClass]="{ 'is-invalid': submitted && f.numero_point_focal.errors }"/>
              @if (submitted && f.numero_point_focal.errors) {
                <div class="invalid-feedback">
                  @if (f.numero_point_focal.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>

            <!-- Champ Logo -->
            <div class="form-group col-sm-12">
              <label>Logo</label>
              <input class="form-control"
                     type="file"
                     formControlName="logo"
                     placeholder="Logo"
                     [ngClass]="{ 'is-invalid': submitted && f.logo.errors }"/>
              @if (submitted && f.logo.errors) {
                <div class="invalid-feedback">
                  @if (f.logo.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary m-2" [disabled]="loading_add_partenaire || loading_get_details_add_partenaire_form"
      (click)="form_add_partenaire.ngSubmit.emit()">
      {{ loading_add_partenaire ? "En cours ..." : "Valider" }}
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="activeModal.close()">Fermer</button>
    </div>
