<div class="modal-header" data-bs-theme="ligth">
        <h1 class="modal-title fs-5">Modifier fichier</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="reactiveForm_edit_fichier" (ngSubmit)="onSubmit_edit_fichier()" #form_edit_fichier="ngForm" class="row">
        
<!-- Champs Id Projet avec un contrôle de validité : clé étrangère liée à la colonne id_projet de la table projet -->
            <div class="form-group col-sm-6">
              <label>Projet</label>
              <select [ngClass]="{ 'is-invalid': submitted && f.id_projet.errors }" class="form-select" formControlName="id_projet">
                <option value="">Sélectionnez un(e) Projet</option>
                @for (one_projet of form_details?.les_projets; track $index) {
                  <option [value]="one_projet.id_projet">
                    {{"Projet N°" + one_projet.id_projet}}
                  </option>
                }
              </select>
              @if (submitted && f.id_projet.errors) {
                <div class="invalid-feedback">
                  @if (f.id_projet.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>
<!-- Piece Jointe field avec un contrôle de validité -->
            <div class="form-group col-sm-6">
              <label>Piece Jointe</label>
              <input class="form-control" type="text" formControlName="piece_jointe" placeholder="Piece Jointe" [ngClass]="{ 'is-invalid': submitted && f.piece_jointe.errors }"/>
              @if (submitted && f.piece_jointe.errors) {
                <div class="invalid-feedback">
                  @if (f.piece_jointe.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>
<!-- Created At field avec un contrôle de validité -->
            <div class="form-group col-sm-6">
              <label>Created At</label>
              <input class="form-control" type="text" formControlName="created_at" placeholder="Created At" [ngClass]="{ 'is-invalid': submitted && f.created_at.errors }"/>
              @if (submitted && f.created_at.errors) {
                <div class="invalid-feedback">
                  @if (f.created_at.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>
<!-- Updated At field avec un contrôle de validité -->
            <div class="form-group col-sm-6">
              <label>Updated At</label>
              <input class="form-control" type="text" formControlName="updated_at" placeholder="Updated At" [ngClass]="{ 'is-invalid': submitted && f.updated_at.errors }"/>
              @if (submitted && f.updated_at.errors) {
                <div class="invalid-feedback">
                  @if (f.updated_at.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary m-2" [disabled]="loading_edit_fichier ||
      loading_get_details_edit_fichier_form" (click)="form_edit_fichier.ngSubmit.emit()">
          {{ loading_edit_fichier ? "En cours ..." : "Valider" }}
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="activeModal.close()">Fermer</button>
    </div>