  .fieldset-custom {
    position: relative;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1.5rem;
  }

  .fieldset-custom legend {
    position: absolute;
    top: -0.7em;
    left: 1rem;
    background: white;
    padding: 0 0.5rem;
    /* font-weight: bold; */
    width: auto;
    font-size: 16px;
  }
