<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner vh-100 align-items-center d-flex justify-content-center">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->

                    <h1 class="text-center text-primary m-0">Solener</h1>
                    <!-- /Logo -->
                    <hr>
                    <h4 class="m-4">Voulez-vous vous déconnecter ?</h4>

                    <p class="text-center">
                        <button class="btn btn-primary me-3" (click)="deconnexion()">Oui me déconnecter</button>
                        <button class="btn btn-light me-3" (click)="retour()">
                            Retourner sur l'application
                        </button>
                    </p>
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>
